
	@font-face {
		font-family: 'Config Rounded', sans-serif;
		src: url('fonts/config-rounded/Config-Rounded-Extrabold.otf') format('otf');
		src: url('fonts/config-rounded/Config-Rounded-Bold.otf') format('otf');
		src: url('fonts/config-rounded/Config-Rounded-Semibold.otf') format('otf');
		src: url('fonts/config-rounded/Config-Rounded-Black.otf') format('otf'),
			 url('fonts/config-rounded/Config-Rounded-Bold.otf') format('otf');
		font-weight: normal;
		font-style: normal;
	}
* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	font-family: "Config Rounded", sans-serif;
	color: #ffffff;
	overflow-x: hidden !important;
}
.container {
    max-width: 1300px;
}
p {
	font-weight: 400;
	line-height: 30px;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #122121;
	font-family: "Config Rounded", sans-serif;
	margin: 0;
}
h4 {
	font-weight: 500;
}
a,
a:hover,
a:focus {
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	outline: none;
}
ol,
ul {
	margin: 0;
	padding: 0;
}
ol li,
ul li {
	list-style: outside none none;
	list-style-type: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.sub-title {
	text-align: center;
	max-width: 730px;
	margin: 0px auto 70px;
}
.sub-title h2 {
	color: #454545;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 20px;
}
.sub-title p {
	margin: 0px auto;
	font-size: 16;
	font-weight: 300;
}
.btn-default-style {
	background: #00d664;
	border-radius: 0;
	color: #ffffff;
	height: 55px;
	line-height: 55px;
	padding: 0 55px;
	font-size: 16px;
	margin-top: 40px;
}
.btn-default-style:hover {
	color: #ffffff;
}


.particles{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
/*=========={ Ecologytheme Header Section }==============*/
.header {
	background: #1b2a49;
	min-height: 1080px;
	background-size: cover;
	position: relative;
	z-index: 99;
	overflow: hidden;
	padding-bottom: 330px;
}
.header::before {
    position: absolute;
    background: url(../images/sky_sec_shape_1.png);
    content: "";
    height: 522px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.header .navbar {
    padding: 65px 0 0;
    position: relative;
    z-index: 1;
}
.header .navbar .navbar-nav .nav-item:last-child .nav-link {
	padding-right: 0px;
}
.header .navbar .eco-nav .nav-item .nav-link {
	padding: 0px 17px;
	color: #ffffff;
    font-size: 25px;
    font-weight: 500;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
}
.header .navbar .eco-nav .nav-item .nav-link.active,
.header .navbar .eco-nav .nav-item .nav-link:hover {
	color: #ffffff;
}
.header .navbar .eco-nav .nav-item .nav-link.active{
	font-weight: 600;
}
.header .navbar .twitt-icon {
    color: #fff;
    font-size: 17px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
    margin-top: -4px;
    margin-left: 15px;
	transition: all 0.3s ease-in-out;
}
.header .navbar .twitt-icon:hover{
	background: #ffffff;
	color: #1b2a49;
}
.header .intro-wrapper {
	text-align: left;
}
.header .intro-wrapper .intro-text {
    margin-top: 148px;
}
.header .intro-wrapper .intro-text h1 {
    font-size: 205px;
    color: #ffffff;
    font-weight: 900;
    line-height: 170px;
    margin: 0;
    text-transform: uppercase;
}
.header .intro-wrapper .intro-text h1 span {
    margin-left: -30px;
}

.header .intro-wrapper .intro-text .header_action_btn {
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 50px;
	margin-left: -30px;
}
.header .intro-wrapper .intro-text .header_action_btn a {
    background: #ffffff;
    color: #1b2a49;
    line-height: 60px;
	height: 60px;
    padding: 0 40px;
    border-radius: 50px;
    text-decoration: none;
    z-index: 1;
    margin-top: 40px;
    font-weight: 600;
    font-family: "Config Rounded", sans-serif;
	margin-right: 15px;
	font-size: 20px;
	border: 1px solid #ffffff;
}
.header .intro-wrapper .intro-text .header_action_btn a:hover {
    background: #1b2a49;
    color: #ffffff;
    box-shadow: 0px 0px 22px 10px rgb(255 255 255 / 20%);
    border: 1px solid #ffffff;
}
.header .intro-wrapper .hero_banner {
    padding-top: 135px;
}


.header .intro-wrapper .intro-text  form {
    position: relative;
    z-index: 1;
}

div#mylogoparallax {
    position: absolute !important;
    top: 0;
    left: 0;
	width: 100% !important;
}
.t_shape{
	z-index: -1;
}
.sky_shape_1{
	position: absolute;
	top: 50%;
	left: 0;
	margin-left: -40px !important;
}
.sky_shape_2 {
    position: absolute;
    right: -65px !important;
    top: 67% !important;
    margin-right: -20px !important;
}







/*=========={ Copy Address }==============*/

.copy_address {
    padding: 50px 0px;
	position: relative;
}
.copy_address::before {
    position: absolute;
    background: url(../images/sky_sec_shape_2.png);
    content: "";
    height: 522px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.copy_address .container{
	max-width: 1550px;
}
.copy_address .clients_logo h5{
	margin-bottom: 40px;
}  
.copy_address .clients_logo ul li{
	height: 50px;
	margin-right: 25px;
	margin-bottom: 20px;
} 
.copy_address .clients_logo ul li img{
	height: 100%;
} 
.search-option .form-group{
	margin: 0;
}
.form_content{
	padding-left: 100px;
	padding-top: 50px;
}
.copy_address  h5{
	margin-bottom: 20px;
} 
.search-option .form-group input {
	background: #e6e6e6;
	height: 70px;
	min-width: 500px;
	padding: 0 30px 0 60px;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
.search-option .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#8d95a6;
  font-size: 18px;
}
.search-option .form-group input::-moz-placeholder { /* Firefox 19+ */
  color:#8d95a6;
  font-size: 18px;
}
.search-option .form-group input:-ms-input-placeholder { /* IE 10+ */
  color:#8d95a6;
  font-size: 18px;
}
.search-option .form-group input:-moz-placeholder { /* Firefox 18- */
  color:#8d95a6;
  font-size: 18px;
}
.search-option .submit-btn {
	margin-bottom:0px;
    padding-left: 25px;
}
.search-option .submit-btn button {
	height: 70px;
	padding: 0 50px;
	background:#1b2a49;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	outline: none;
	font-weight: 600;
    font-family: "Config Rounded", sans-serif;
	margin-right: 15px;
	font-size: 20px;
}








/*=========={ Tokenomics }==============*/
.tokenomics {
	background: #1b2a49;
	padding: 400px 0px 525px;
	position: relative;
	z-index: 0;
}
.tokenomics::before {
    position: absolute;
    background: url(../images/sky_sec_shape_2.png);
    content: "";
    height: 522px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.tokenomics::after {
    position: absolute;
    background: url(../images/sky_sec_shape_3.png);
    content: "";
    height: 522px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.tokenomics .tokenomics_content h2 {
    font-size: 80px;
    color: #ffffff;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
	padding-bottom: 30px;
}

.tokenomics .tokenomics_content h3, .tokenomics .tokenomics_content h4 {
    font-size: 60px;
    color: #ffffff;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
	line-height: 81px;
}
.tokenomics .tokenomics_content h4 {
    padding-top: 40px;

}
.tokenomices_progress .single_progress{
	padding: 0 30px;
	margin-top: 60px;
}
.tokenomices_progress .single_progress h3{
	font-size: 24px;
	color: #ffffff;
	font-weight: 500;
    font-family: "Config Rounded", sans-serif;
}
.tokenomices_progress .single_progress span{
	font-size:100px;
	line-height: 110px;
	color: #ffffff;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
}
.tokenomices_progress .single_progress p{
	font-size: 24px;
	color: #ffffff;
	min-height: 30px;
	font-weight: 600;
    font-family: "Config Rounded", sans-serif;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 50px;
    padding: 4px;
}
.progress-bar {
    background-color: #5e92ff;
}
.progress-bar.progress-bar-striped {
    border-radius: 50px 40px 40px 50px;
}
.progress-bar-striped {
    background-image: linear-gradient(138deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 2rem 2rem;
}
.tokenomics_sky_1{
	position: absolute;
	top: 20%;
	left: 0;
}
.tokenomics_sky_2{
	position: absolute;
	bottom: 20%;
	right: 0;

}











/*=========={ How To Buy }==============*/
.how_to_buy {
	background: #ffffff;
	padding: 0px 0px 540px;
	position: relative;
	z-index: 0;
}
.how_to_buy::before {
    position: absolute;
    background: url(../images/sky_sec_shape_4.png);
    content: "";
    height: 522px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.how_to_buy .container{
	max-width: 1500px;
}
.how_to_buy .how_to_buy_content h2 {
    font-size: 80px;
    color: #1b2a49;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
	padding-bottom: 60px;
}
.how_to_buy .how_to_buy_content .step_box .single_box{
	background: #1b2a49;
	padding: 20px 15px;
	border-radius:30px;
	margin-bottom: 30px;

}
.how_to_buy .how_to_buy_content .step_box .single_box .step_icon {
    width: 170px;
    float: left;
	padding-top: 15px;
}
.how_to_buy .how_to_buy_content .step_box .single_box .step_icon p{
	font-size: 50px;
	color: #ffffff;
	min-height: 50px;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
}
.how_to_buy .how_to_buy_content .step_box .single_box .step_icon img{
    height: 80px;
	width: auto;
}
.how_to_buy .how_to_buy_content .step_box .single_box .step_icon img{
    height: 80px;
	width: auto;
}
.how_to_buy .how_to_buy_content .step_box .single_box .step_content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
}
.how_to_buy .how_to_buy_content .step_box .single_box .step_content p{
	text-align: center;
	margin: 0;
	font-size: 40px;
	color: #ffffff;
	font-weight: 600;
    font-family: "Config Rounded", sans-serif;
	line-height: 50px;
}








/*=========={ Moon Map }==============*/
.moonmap {
	background: #1b2a49;
	padding: 0px 0px 540px;
	position: relative;
	z-index: 0;
	margin-top: -50px;
}
.moonmap .container{
	max-width: 1650px !important;
}
.moonmap .moonmap_content h2 {
    font-size: 80px;
    color: #ffffff;
	font-weight: 700;
    font-family: "Config Rounded", sans-serif;
	padding-bottom: 150px;
}
.moonmap_single {
    padding: 75px 30px 15px 15px;
    border: 3px solid #ffffff;
    border-radius: 30px;
	position: relative;
	margin: 0 30px;
}
.moonmap_single p{
    text-align: left;
    margin: 0;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Config Rounded", sans-serif;
    line-height: 40px;
}
.moonmap_single .moonmap_icon {
    position: absolute;
    background: #1b2a49;
    left: 50%;
    transform: translateX(-50%);
}
.moonmap_single .moonmap_icon.moon_i_1 {
    top: -55px;
    width: 160px;
    height: auto;
	padding: 0 10px;
}
.moonmap_single .moonmap_icon.moon_i_2 {
    top: -85px;
    width: 160px;
    height: auto;
	 padding: 0 5px;
}
.moonmap_single .moonmap_icon.moon_i_3 {
    top: -120px;
    width: 170px;
    height: auto;
}
.moonmap .tokenomics_sky_1{
	position: absolute;
    top: -6%;
    left: 0;
}
.moonmap .tokenomics_sky_2{
	position: absolute;
	bottom: 10%;
	right: 0;

}



footer{
	background: #1b2a49;
    padding: 85px 0 40px;
}
footer .copyright p{
	color: #ffffff;
	margin: 0;
	text-align: center;
    margin: 0;
    font-size: 25px;
	text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Config Rounded", sans-serif;
    line-height: 25px;
}







